# Core
streamlit
python-dotenv
pymongo
bson

# LangChain ecosystem
langchain-core
langchain
langchain-huggingface
langchain-groq
langchain-google-genai

# Weaviate
weaviate-client

# Utilities
pydantic
